<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PHPkoa Test</title>
    <link rel="stylesheet" href="/css/default.css">
    <script src="/js/jquery.min.js" type="text/javascript"></script> 
</head>
<body>
    <h1>/api/user/{id}</h1>
    <p id="user"></p>

</body>
<script type="text/javascript">
var id = {id};
$.ajax({
    type: "GET",
    url: "/api/user/" + id,
    dataType: "json",
    success: function(data){
        console.log(JSON.stringify(data))
        $("#user").html(JSON.stringify(data))
    }
});
</script>
</html>